<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="user-scalable = yes" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />


	<title>Item Catalog App</title>

    <!--================================FAVICON================================-->

    <!--================================BOOTSTRAP STYLE SHEETS================================-->

	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">

    <!--================================ Main STYLE SHEETs====================================-->

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css') }}">-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/color/color.css') }}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/testimonial/css/style.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/testimonial/css/elastislide.css')}}" />
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/responsive.css') }}">

	<!--================================FONTAWESOME==========================================-->

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/font-awesome.css')}}">

	<!--================================GOOGLE FONTS=========================================-->
	<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Lato:300,400,700,900'>

</head>