<footer class="footer style-1 padding-top-60 bg222">
			<div class="container">
				<div class="footer-main padding-bottom-10">
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-12 margin-bottom-30">
							<div class="footer-widget-title">
								<h5>LATEST NEWS</h5>
							</div>
							<div class="footer-logo">
								<a href="#"><img src="images/footer-logo.png" alt="footer logo"></a>
							</div>
							<div class="footer-intro">
								<p>Lorem ipsum dolor sit amet sectetuer
									esl adipiscing elit sed diam nonummy
									nibhi euismod tincidunt ut laoreet
									dolore amet magna.
								</p>
								<a href="about.html">read more</a>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12 margin-bottom-30">
							<div class="footer-widget-title">
								<h5>recent posts</h5>
							</div>
							<div class="footer-recent-post-widget">
								<div class="footer-recent-post clearfix">
									<div class="footer-recent-post-figure">
										<img src="images/news/thumb/100/01.jpg" alt="recent post"/>
									</div>
									<div class="footer-recent-post-content">
										<div class="footer-recent-post-title">
											<a href="#">SportLog</a>
										</div>
										<div class="footer-recent-post-disc">
											<p>Welcome to SportLog listing</p>
										</div>
										<div class="footer-recent-post-caption">
											<p class="date">07 Sep, 2015</p>
										</div>
									</div>
								</div>
								<div class="footer-recent-post clearfix">
									<div class="footer-recent-post-figure">
										<img src="images/news/thumb/100/01.jpg" alt="recent post"/>
									</div>
									<div class="footer-recent-post-content">
										<div class="footer-recent-post-title">
											<a href="#">How to use our Cool Directory</a>
										</div>
										<div class="footer-recent-post-disc">
											<p>SportLog listing</p>
										</div>
										<div class="footer-recent-post-caption">
											<p class="date">07 Sep, 2015</p>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div><!-- .container end -->